/*Comment Alert*/
.unFollow{
    display:inline-block;
    font-size: small;
    padding: 4px;
    background-color: #d8eeca;
    border:#278400 solid;
    border-radius: 5px;
}
.alertBox{
    display:inline-block;
    background-color: #d8eeca;
}
.alertSummary{
    background-color: #278400;
    color: white;
}
.alertSummary:active{
    background-color: #278400;
    color: white;
}
.alertSummary:hover{
    background-color: #278400;
    color: white;
}
.alertSummary:not(:active){
    background-color: #278400;
    color: white;
}
.alertContainer{
    font-size: smaller;
    border-radius: 5px;
    /*list-style-image:url('https://api.iconify.design/ic:outline-comment.svg?color=%230a64c8a6');*/
    list-style-image:url('img/ic_outline-comment.svg');
}
.alertMessage{
    padding-left: 2px;
    font-size: smaller;
    background-color: #82b2e85c;
    border-radius: 5px;
    display:inline-block;
}

.alertDismiss{
    float: right;
    margin-top: 10px;
    margin-right: 2px;
    height: 13px;
    width: 13px;
    background: url('img/whh_x.svg') no-repeat center center / contain;
    border-style: none;
}
.alertDismiss:hover{
    background: url('img/whh_x_active.svg') no-repeat center center / contain;
}
/*****/